/* ─── Society-specific Colours & Settings ────────────────────────────────── */

.yordevs-colour {
    background-color: #f7ed74 !important;
}

.yordevs-border-colour {
    border-color: #f7ed74 !important;
}

.cybersoc-colour {
    background-color: #000000 !important;
}

.cybersoc-border-colour {
    border-color: #000000 !important;
}

.hacksoc-colour {
    background-color: #bdafc9 !important;
}

.hacksoc-border-colour {
    border-color: #bdafc9 !important;
}

.ai-society-colour {
    background-color: #b53f93 !important;
}

.ai-society-border-colour {
    border-color: #b53f93 !important;
}

.devsoc-colour {
    background-color: #ff0052 !important;
}

.devsoc-border-colour {
    border-color: #ff0052 !important;
}


/* ─── Positioning ────────────────────────────────────────────────────────── */

.background { /* Outer most div to display background image */
    background-image: url("https://github.com/Lime-Parallelogram/york-cs-societies-combined-newsletter/blob/main/assets/background-tile.png?raw=true");
    background-repeat: repeat;
    background-size: 100vh;
}

.content_outer { /* Contains everything */
    padding: 20px;
    max-width: 900px;
    margin: auto;
    padding-bottom: 40px; /* Allow grey line to extend a little beyond the content */

    /* Slightly transparent */
    background-color: #f0f0f0bb;
    box-shadow: 5px 5px 5px lightgray;
}


/* ─── Header Section ─────────────────────────────────────────────────────── */

.header_title_section { /* Contains both title and image */
    text-align: center;
    border-radius: 1rem;
}

.header_image {
    width: 80%;
    max-width: 500px;
}

#CompSciText {
    font-family: "Berkshire Swash", Bush Script MT, Garamond, serif;
    font-size: 3rem;
    color: #121044;
}

#HeaderDividerLine {
    background-color: #121044;
    height: 7px;
    border-radius: 3.5px;
    width: 70%;
    margin: auto;
}

#SocietiesText {
    font-size: 2rem;
    margin-top: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000;
    
}

/* ─── Main Content ───────────────────────────────────────────────────────── */

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    text-align: center;
}

.section_welcome { /* Contains the Week Number and welcome paragraph */
    text-align: center;
    margin-top: 20px;
}

.welcome_message {
    font-family: Tahoma, sans-serif;
}


/* ─── TLDR; What's On? ───────────────────────────────────────────────────── */

.section_whats_on {
    background-color: #121044;
    color: #eee;

    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    margin-top: 20px;
}

.calendar_events_table { /* Table with two rows for events */
    width: 100%;
    border-spacing: 15px;
}

td.calendar_event_container { /* Contained within .calendar_event_container. This is what is visible to user */
    width: 50%; /* Used to ensure the events are the same width */

    border-left-width: 25px;
    border-left: #d8d8d8 25px solid;
    border-radius: 14px 7px 7px 14px;

    font-family: Geneva, Verdana, sans-serif;
    background-color: #f1f1f1;
}

/* On smaller screens, want to have only one event per line */
@media all and (max-width: 500px) {
    .calendar_event_container {
        display: block;
        width: 90%;
        margin-bottom: 15px;
    }
}

.event_colour_strip {
    background-color: #ddd;
    width: 20px;
    border-radius: 7px 0 0 7px;
}

.event_information_container { /* Contains everything except colour_strip and left_line */
    padding: 4px;
    text-align: left;
    color: #000;
}

.event_time { /* First item - Date & Time */
    font-weight: bold;
    font-size: 0.8rem;
}

.event_location { /* Second item - Location */
    font-size: 0.7em;
}

.event_title { /* Last item - brief description */
    font-size: 1rem;
}


/* ─── Individual Societies Pieces Section ────────────────────────────────── */

.individual_society_container { /* Contain all content relevant to one society */
    margin-bottom: 35px;
}

.individual_society_table {
    border-collapse: collapse;
}

td.image_col {
    max-width: 15px;
    max-height: 15px;
}


div.logo_circle_container { /* Similar to left_line_cap but slightly bigger and contains a society logo */
    border: #ddd 10px solid;
    background-color: rgb(255, 255, 255);

    border-radius: 50%;

    width: 30px;
    height: 30px;

    
}

.logo_circle_container > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.top_row > td.left_line_col { /* Change the colour of the cell behind the image. This is just so there isn't a gap between the image and the strip below */
    background-color: #ddd;
    border-radius: 50% 50% 0 0;
    min-width: 20px;
}

.main_row > td.left_line_col { /* Main strip down the left of the text */
    background-color: #ddd;
    border-radius: 0 0 10px 10px;
    min-width: 20px;
}

.society_container_title { /* Society name */
    font-family: "Latin Modern Mono Prop", 'Courier New', Courier, monospace ;
    font-size: 2rem;
    margin-left: 40px;
}

.society_container_body { /* Main text content for a society */
    padding-left: 2rem;
}